node_modules/
.pnpm-store/
.DS_Store
*.log

# next
.next/
out/
next-env.d.ts

# strapi
.strapi/
apps/cms/dist/
apps/cms/build/
apps/cms/.tmp/
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep
apps/cms/types/generated/

# env
.env
.env.*
!.env.example
apps/cms/.strapi-updater.json
